body {
    background-color: #000000;
    color: lightgray;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#container {
    width: 900px;
    margin: 0 auto;
}

#board {
    width: 900px;
    margin: 50px 0;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#hangman {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: #222222;
    color: white;
    border: 3px solid white;
}

.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color: white;
}

.letter.background-yes {
    background-color: #003300;
    color: #00C000;
    border: 3px solid #00C000;
    cursor: default;
}

.letter.background-no {
    background-color: #330000;
    color: #C00000;
    border: 3px solid #C00000;
    cursor: default;
}

